// font-family: 'Courgette', cursive;
// font-family: 'Great Vibes', cursive;
// font-family: 'Kaushan Script', cursive;
// font-family: 'News Cycle', sans-serif;
// font-family: 'Rancho', cursive;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Satisfy', cursive;
.page-template-template-unbounded {
.hero-wrapper {
  width: 100%;
   // border: 30px solid white;
  // height: 84vh;
  @media(min-width: 767px) {
     border: 30px solid white;
     height: 750px;
     // height: auto;
  }
  @media(max-width: 767px) {
     border: 10px solid white;
    height: 58vh;
  }
  z-index: 1;
  border-bottom: 8px solid white;;
  position: relative;
  background: url("../images/horse5.jpg") no-repeat;
  background-attachment: fixed !important;
  background-size: cover;
  background-position: center;
  h1 {
    position: absolute;
    opacity: 0;
    top: 230px;
    transform: rotate(357deg);
    @media (min-width: 767px) {
      font-size: 140px;
      letter-spacing: 7px;
      font-weight: 700;
    }
    @media (max-width: 767px) {
      font-size: 65px;
      top: 160px;
    }
    text-align: center;
    width: 100%;
    color: royalblue;

 font-family: 'Bangers', cursive;
    text-shadow: 3px 6px 35px rgba(24, 30, 63,0.6);
  }
}

.circle-image {
  position: absolute;
  bottom: -160px;
  right: 10%;
  z-index: 111;
  width: 100%;
  height: auto;
  opacity: 0;
  @media (min-width: 767px) {
    max-width: 280px;
    }
  @media (max-width: 767px) {
    max-width: 220px;
    right: 3%;
    }
  // opacity: 0.8;
  // box-shadow: 2px 2px 13px black;
}
.dolphins {
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 200;
  @media (min-width: 767px) {
    max-width: 190px;
    right: -60px;
    bottom: -100px;
    }
  @media (max-width: 767px) {
    // max-width: 155px;
    // right: -30px;
    // bottom: -140px;
    display: none;
    }
}

#trigger5 {
  position: relative;
}

.planets2 {
  opacity: 0;
  max-width: 400px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 540px;
  left:-60px;
  z-index: 3;
  @media (max-width: 576px) {
    top: 480px;
    left: 5px;
    max-width: 180px;
    }
}

.talpic {
  position: absolute;
  max-width: 240px;
  height: auto;
  top: -100px;
  right: 9%;
  z-index: 100;
  opacity: 0;
  @media (max-width: 576px) {
    top: -90px;
    right: 4%;
    max-width: 160px;
    }
}

.content-wrapper-three {
  background: url("../images/group1.png") repeat-x;
  background-size: 10% auto;
  background-position: center bottom;
  height: auto;
  width: 100%;
  background-color: white;
  padding-top: 3%;
  padding-bottom: 12%;
  .main-header-three {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding: 2%;
    margin-bottom: 25px !important;
    @media (max-width: 576px) {
        font-size: 26px;
      }
      span {
        font-size: 50px;
        padding-left: 10px;
      }
  }
  .call-box {
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 9px 9px 35px rgba(24, 30, 63,0.4);
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    @media (min-width: 767px) {
        height: 400px;
      }
    @media (max-width: 767px) {
        height: 280px;
        margin-top: 15px;
      }
  }
  .call-box-1 {
    @media (min-width: 767px) {
        padding: 15%;
      }
    @media (max-width: 767px) {
        padding: 2%;
      }
      h2 {
        padding: 3%;
      }
      p {
        padding-top: 8px;
        line-height: 30px;
        font-weight: 600;
        letter-spacing: .5px;
        font-size: 14px;
        text-align: center;
        padding: 20px;
      }
  }
  .call-box-2 {
    background: url("../images/fun.jpeg") no-repeat;
    background-size: cover;
    text-align: center;
    @media (max-width: 767px) {
        padding-top: 100px;
      }
    @media (min-width: 767px) {
        padding-top: 200px;
      }
    a {
      font-size: 18px;
      border: 4px solid black;
      color: black;
      text-align: center;
      padding: 2.5%;
      font-weight: 600;
      letter-spacing: 1px;
      text-decoration: none;
      margin-top: 100px !important;
      background-color: rgba(230,230,230, 0.6);
    }
    a:hover {
      background-color: transparent;
      color: white;
    }
  }
}

.section-content-boxes {
  padding-bottom: 80px;
  margin-bottom: -80px;
  background: url("../images/squars3.png");
  background-size: 40% auto;
  background-position: top right;
  .content-box {
    opacity: 0;
    @media (min-width: 767px) {
        max-width: 100%;
        margin-left: -5%;
      }
      @media (max-width: 767px) {
          margin-bottom: 80px;
          width: 150%;
          // height: 500px;
          margin-left: 10px;
          margin-top: -210px;
      }
      height: auto;
    width: 100%;
    background-color: white;
    margin-top: -110px;
    position: relative;
    z-index: 3;
    box-shadow: 0px 30px 50px 0px rgba(11,12,17,0.3);
    .sanOne {
      height: 350px;
      width: 100%;
      background-color: #dfe7ec;
      padding: 5%;
      @media (max-width: 1024px) {
          height: 250px;
      }
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        margin-top: 4%;
        margin-bottom: 4%;
        font-size: 24px;
        @media(max-width: 576px) {
          font-size: 18px;
        }
      }
      p{
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-top: 10px;
      padding-right: 5%;
       @media(max-width: 767px) {
         font-size: 14px;
         margin-top: 15px;
         line-height: 28px;
       }
      }
    }
    .sanTwo {
      height: 350px;
      width: 100%;
      background: url("../images/souls1.jpg") no-repeat;
      background-size: cover;
      background-position: center;
      @media (max-width: 1024px) {
          height: 250px;
      }
    }
    .sanThree {
      height: 350px;
      width: 100%;
      background: url("../images/texture1.jpg");
      background-size: auto;
      background-position: center;
      @media (max-width: 1024px) {
          height: 250px;

      }
      @media (max-width: 767px) {
          display: none;

      }
    }
    .sanFour {
      height: 350px;
      width: 100%;
      background-color: #dfe7ec;
      padding: 5%;
      @media (max-width: 1024px) {
          height: 250px;
      }
    }
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
        margin-top: 4%;
        margin-bottom: 4%;
        font-size: 24px;
        @media(max-width: 767px) {
          font-size: 18px;
        }
      }
      p{
      font-family: 'Montserrat', sans-serif;
       font-size: 16px;
       font-weight: 500;
       line-height: 24px;
       margin-top: 10px;
       @media(max-width: 576px) {
         font-size: 14px;
         margin-top: 15px;
          line-height: 28px;
       }
      }
    }

  h1.whatDo {
       font-family: 'Bangers', cursive;
      margin-top: 70px;
      color: black;
      font-size: 50px;
      padding: 4.5%;
      transform: rotate(355deg);
      @media(max-width: 576px) {
        margin-top: 25px;
        float: none;
        font-size: 40px;
        transform: rotate(355deg);
      }
  }
  p.missionState {
    font-size: 18px;
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0px;
    width: 90%;
    margin: 0 auto;
    color: black;
    @media(max-width: 576px) {
      font-size: 15px;
      width: 96%;
      margin: 0 auto !important;
    }
  }
}
.text-box-main {
  @media(max-width: 576px) {
  width: 80%;
  margin-bottom: 30px;
  padding: 6%;
  }
  opacity: 0;
  position: relative;
  z-index: 2;
  background-color: #f7f7f7;
  padding: 5%;
  margin: 10%;
  width: 60%;
  margin-top: -30px !important;
  padding-top: 2% !important;
}

.blue1 {
  position: absolute;
  margin-top: 0px;
  left:60px;
  @media(min-width: 992px) {
    max-width: 1000px;
    min-width: 1000px;
}
@media(max-width: 992px) {
  max-width: 390px;
  min-width: 390px;
  margin-left: -16%;
}
  width: 100%;
  height: 600px;
  // opacity: .9;
  // min-height: 650px;
  // width: 100%;
  // height: auto;
  z-index: 4;
}

.blue2 {
  position: absolute;
  top: 310px;
  max-width: 290px;
  // opacity: 0.4;
  height: 290px;
  left: 30%;
  // width: 100%;
  height: auto;
  z-index: 11;
}

.warp-you {
  height: 500px;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
}


.eleven {
  padding: 10%;
  margin-top: -120%;
  // text-align: center;
  font-size: 18px;
  line-height: 23px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  overflow: hidden;
  // letter-spacing: 1px;
}

.slider-section {
  background-color: #f5f0f0;
  margin-bottom: -10px;
      font-family: 'Kaushan Script', cursive;
    height: auto;
    @media(min-width: 767px) {
      padding-top: 190px;
      padding-bottom: 80px;
    }
  .slider-wrapper {
    .wpsisac-slick-slider.design-5 .slick-image-slide .slide-wrap .slider-content {
      padding: 60px 10px !important;
    }
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    p {
      font-size: 28px !important;
      line-height: 42px;
      margin-top: 20px;
      font-weight: 500;
      transform: rotate(358deg);
      color: black;
    }
    h2 {
      font-size: 18px;
      color: #1d90d4;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
    }
    .slick-dots {
      @media (max-width: 576px) {
          display: none;
      }
    }
  }
}
.image-slider-wrapper {
  height: auto;
  margin-bottom: -20px;
  // padding-bottom: 40%;
  padding-top: 10%;
  // @media (min-width: 576px) {
  //   padding: 10%;
  // }
}
.content-second-section {
  margin-top: -20px;
  height: 400px;
  background-color: #266185;
  @media (max-width: 767px) {
    display: none;
  }
  .hello {
    background: url("../images/bounded.jpeg") no-repeat center;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 400px;
    opacity: 1;
    border: 15px solid #00132d;
    border-bottom: none;
    border-right: none;
    @media (max-width: 576px) {
      height: 200px;
    }
  }
  .hello1 {
    background: url("../images/borderc.jpeg") no-repeat center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    opacity: 0.5;
    @media (max-width: 576px) {
      height: 200px;
    }
  }
  video {
    border: 15px solid #00132d;
    width: 100%;
    min-width: 1200px;
    min-height: 400px;
    margin-left: -20px;
  }
}

.column-test {
  height: 220px;
  transform: .9s ease-in all;
  // opacity: 0.7;
  padding-top:  50px;
  @media (min-width: 767px) {
  border-bottom: 15px solid #00132d;
  }
}
.column-wrapper {
  background-color: black;
}
a.boxLink {
  font-size: 28px;
  color: white;
  font-weight: 100;
  letter-spacing: 3px;
  opacity: 1 !important;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 30px;
  transition: .5s ease-in all;
}
a.boxLink:hover {
text-decoration: none;
}
.boxOne:hover {
opacity: 0.9;
}
.boxTwo:hover {
opacity: 0.9;
}
.boxThree:hover {
opacity: 0.9;
}
.boxOne {
  background: url("../images/humanity2.jpeg") no-repeat center;
  background-size: cover;
}
.boxTwo {
  background: url("../images/plant.jpeg") no-repeat center;
  background-size: cover;
  a {
  color: black;
  }
}
.boxThree {
  background: url("../images/humanity3.jpeg") no-repeat center;
  background-size: cover;
}
.black-line-section {
  height: 20px;
  width: 100%;
  margin-bottom: -10px;
  // margin-left: 10px;
  // margin-right: 10px;
  overflow-x: hidden;
  background-color: #00132d;
  position: relative;
  z-index: 121;

}
.section-about-us {
  @media(min-width: 767px) {
      height: 400px;
  }
  @media(max-width: 767px) {
      height: auto;
      padding-bottom: 10%;
  }
  background-color: #00132d;
  width: 100%;
  padding-bottom: 60px;
  h1 {
    color: white;
    font-size: 32px;
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    @media(max-width: 576px) {
        font-size: 26px;
    }
  }
}

.about-us {
  max-width: 380px;
  min-height: 380px;
  height: auto;
  margin: 0 auto;
  background-color: white;
  opacity: 0;
  box-shadow: 0px 30px 50px 0px rgba(11,12,17,0.3);
  @media(min-width: 767px) {
      margin-top: 50px;
  }
  @media(max-width: 767px) {
      margin-top: 20px;
  }
  // margin-bottom: 190px;
  // box-shadow: -2px -2px 34px white;
  padding: 8%;
  p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  h4 {
    color: #1d90d4;
    font-family: 'Kaushan Script', cursive;
    text-align: justify;
    font-size: 18px;
  }
  h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1%;
    font-size: 24px;
    transform: rotate(358deg);
    padding-bottom: 10px;
  }

}

}
